<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
my_string1 = 'Welcome to' #creation of strings
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2) #use of the function print to show the user the two strings created, separated by a space
my_string3 = 'Time to'
my_string4 = "learn Python"
print(my_string3 + ' ' + my_string4)

Welcome to QuantConnect
Time to learn Python

An integer is a round number with no values after the decimal point.

In [ ]:
my_int = 10 #creation of an int of value 10 
print(my_int) #prints the value of the variable
print(type(my_int)) #prints the data type of the variable

my_int2=5
my_string ='hola'
print(my_int2)
print(type(my_int2))
print(type(my_string))

10
<class 'int'>
5
<class 'int'>
<class 'str'>

The built-in function int() can convert a string into an integer.

In [ ]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)#formats string of value "100" to int of value 100
print(type(my_int))

my_string2 = "-11"
print(type(my_string2))
my_int2 = int(my_string2)
print(type(my_int2))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
my_string = "100"
my_float = float(my_string)#formats string of value "100" to float of value 100
print(type(my_float))

my_string2 = "100.5"
my_float2 = float(my_string2)
print(type(my_float2))

<class 'float'>
<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
my_bool = False #creation of boolean variable
print(my_bool)
print(type(my_bool)) #prints the data type of the variable

my_new_bool = True 
print(my_new_bool)
print(type(my_new_bool))

False
<class 'bool'>
True
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)#the operator ^ is not supported

#using math operators and setting the results in variables to print below
add=1.9+2
sub=1.3 - 2
mult=3*0
div=5/5
exp=5.83**0

print("\n")
print("New Addition ", add)
print("New Subtraction ",sub)
print("New Multiplication ",mult)
print("New Division ",div)
print('New exponent',exp)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8


New Addition  3.9
New Subtraction  -0.7
New Multiplication  0
New Division  1.0
New exponent 1.0

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
print(1/3)
print(1.0/3)#it is posible to operate integers with floats

print(3*2*2)
print(6.0+4*1.5)

0.3333333333333333
0.3333333333333333
12
12.0

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ['Quant', 'Connect'] #Creation of list with two strings
print(my_list)

new_list= ["string", 2.30,-2, True] #list can hold different data types
print(new_list)

['Quant', 'Connect']
['string', 2.3, -2, True]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list)) #len "counts the number of elements in the list"
print(my_list[0]) #prints the element in the position 0 of the list
print(my_list[len(my_list) -1]) #prints the element inthe position length of the list minus 1 (n-1), or the last element

print(my_list[2])
print(my_list[2+2])
print(my_list[4])

5
Quant
3
1
3
3

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'#asigns to the position 2 of the list the string 'go' 
print(my_list)

my_list[len(my_list) -1]=5.0 #makes the element in the position n-1 (4), 5.0
my_list[3]=my_list[0] #makes the element in the position 3 equal to the element inthe position 0
print(my_list)

['Quant', 'Connect', 'go', 2, 3]
['Quant', 'Connect', 'go', 'Quant', 5.0]

A list can also be sliced with a colon:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])#selects the elements of the list from the position 1 (included) to the position 3 (not included) and prints them

print(my_list[1:4])

['Connect', 1]
['Connect', 1, 2]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[1:])#selects the elements of the list from the position 1 (included) to the end of the list and prints them

print(my_list[2:])

['Connect', 1, 2, 3]
[1, 2, 3]

And all elements up to but excluding index 3:

In [ ]:
print(my_list[:3]) #selects the elements of the list from biggining of the list to the position 3 (not included) and prints them

print(my_list[:2])

['Quant', 'Connect', 1]
['Quant', 'Connect']

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')#adds the element to the end of the list
print(my_list)

my_list.append('69')
print(my_list)

['Hello', 'Quant', 'Hello']
['Hello', 'Quant', 'Hello', '69']

In [ ]:
my_list.remove('Hello')#Removes the first appearance of the element passed to the function 'remove', from the list
print(my_list)

my_list.remove('Hello')
print(my_list)

my_list.remove('69')
print(my_list)

['Quant', 'Hello', '69']
['Quant', '69']
['Quant']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')#creation of a tuple of strings
my_new_tuple =("string", 7, 5.2, False)#tuples can have different data types as well

Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])#selects elements from the tuple form de position 1 to the end and prints it

my_new_tuple =("string", 7, 5.2, False)
print(my_new_tuple[2:])
print(my_new_tuple[1:3])

('to', 'QuantConnect')
(5.2, False)
(7, 5.2)

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']#creation of a list of strings
stock_set = set(stock_list)#makes aset with the elements of the list, eliminating duplicates
print(stock_set)

new_list=['string', 43, 1.2, True, 43.0, True, 1.2, False]
new_set= set(new_list)#the sets can also have different data types
print(new_set)

{'AAPL', 'IBM', 'FB', 'GOOG', 'F'}
{False, 1.2, True, 'string', 43}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}#creation of dictionary with string keys and values
my_dic_2={3.14:'pi', 'zero':0.0, 3:True} #keys and values in a dictionary can be of different data types

In [ ]:
print(my_dic['GOOG'])
print(my_dic_2)
print(my_dic_2[3])

Alphabet
{3.14: 'pi', 'zero': 0.0, 3: True}
True

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
my_dic['GOOG'] = 'Alphabet Company' #asigns a new value to the key in []
print(my_dic['GOOG'])

my_dic['GOOG'] = 69 #asigns a new value to the key in []
print(my_dic['GOOG'])

Alphabet Company
69

We can also change the value associated with a specified key:

In [ ]:
print(my_dic.keys())#prints the keys in the dictionary
print(my_dic_2.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])
dict_keys([3.14, 'zero', 3])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])#selects and prints a selection of the characters in the string from the postion 8 to the end of the string
print(my_str[3:12])

to QuantConnect
come to Q

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
print('Counting the number of e appears in this sentence'.count('e'))#counts the times "e" is in the string 
print('The first time e appears in this sentence'.find('e'))#finds the index of the first appearence of the character
print('all the a in this sentence now becomes e'.replace('a','e'))#replaces every appeareance of the first character with the second character

beat='And in the end, the love you take is equal to the love you make'
print(beat.count('t'))
print(beat.find(','))
print(beat.replace('s','z'))

7
2
ell the e in this sentence now becomes e
5
14
And in the end, the love you take iz equal to the love you make

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')#uses space as the separator to split the string each time it finds it
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

month=date.split('-')[1]
print(month)

2016-04-01 09:43:00
09
04

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')#replaces in order the '{}' with the data in the format method 
print(my_time)

my_data='Hi, my name is {} and I am {} years old'.format('Santiago', 24)#you don't have to replace only with strings
print(my_data)

Hour: 09, Minute:43
Hi, my name is Santiago and I am 24 years old

Another way to format a string is to use the % symbol.

In [ ]:
print('the pi number is %f'%3.14)#replaces the data signaled by the '%', you have to specify the data type with %f, %d, %s
print('%s to %s'%('Welcome','Quantconnect'))

print('this %s is a string, this %d is an int and this %f is a float'%('leters',40, 1.1))

the pi number is 3.140000
Welcome to Quantconnect
this leters is a string, this 40 is an int and this 1.100000 is a float

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
print(1 == 0)#returns true if the 2 numbers are equal
print(1 == 1)
print(1 != 0)#returns true if the 2 numbers are different
print(5 >= 5)#returns true if the first numer es equal or bigger than the second number
print(5 >= 6)

print(3<29)#returns true if the first number is smaller tha the second one
print(45<= 44)#returns true if the first numer es equal or smaller than the second number

False
True
True
True
False
True
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [ ]:
print(2 > 1 and 3 > 2)#true if both conditions are true
print(2 > 1 and 3 < 2) #true if both conditions are true
print(2 > 1 or 3 < 2)#true if any of the conditions are true
print(2 < 1 and 3 < 2)

print(3==4 or 12<=12)
print(3==4 and 12<=12)

True
False
True
False
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))#not makes True false and viceversa
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

print(4<5 and (3==3 or (4>5 and(3!=4 and 3==4))))

False
True
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
i = 0
if i == 0:
    print('i==0 is True') #if the condition is true, print this

if i<0:
  print('{} is less than 0'.format(i))
else:
  print('{} is not less than 0'.format(i))

i==0 is True
0 is not less than 0

As we mentioned above, we can write some complex statements here:

In [ ]:
p = 1 > 0
q = 2 > 3
if p and q:#complex statements to determine if p and q are true or false
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

r=3<4 and (5!=5 or 5==5)

if r:
  print(' r is true')
else:
  print("r is false")

q is false
 r is true

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
i = 0
while i < 5:#loop only stops if the condition is false
    print(i)
    i += 1 

while i>1:
  print(i)
  i -= 1

0
1
2
3
4
5
4
3
2

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
for i in [1,2,3,4,5]:#the code will run for each element in the list
    print(i)
print('\n')
for j in[0,1,2,3,4,5]:
  print (j**2)

1
2
3
4
5


0
1
4
9
16
25

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:#iterates over each element in the list 'stocks'
    if i not in selected:#if the element is not in the list 'selected'...
        new_list.append(i)#...add the element to the list 'newlist'
print(stocks)
print(new_list)

for element in stocks:#iterates over each element in the list 'stocks'
  if len(element)>2:#if the size of that element is bigger than 2, print it
    print(element)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']
['GOOG', 'FB', 'F', 'V', 'G', 'GE']
AAPL
GOOG
IBM

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':#if the condition is met
        break#stop the iteration


print('\n')
for element in stocks:
  print(element)
  if len(element)<2: #stops when reaching an element of size<2
    break

AAPL
GOOG
IBM
FB


AAPL
GOOG
IBM
FB
F

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':#if the condition is met
        continue#move to the next iteration now
    print(i)

print('\n')
for element in stocks:
  if len(element)==2:#skips to the next iteration if the string has 2 characters
    continue
  print(element)

AAPL
GOOG
IBM
F
V
G
GE


AAPL
GOOG
IBM
F
V
G

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)#takes each element from the original list and makes the operations to add it to the new list
print(squares)

modulo=[]
for j in [1,2,3,4,5,6]:
  modulo.append(j%3)#includes the module of 3 of each of the elements in the original list 
print(modulo)

[1, 4, 9, 16, 25]
[1, 2, 0, 1, 2, 0]

Using list comprehension:

In [ ]:
list = [1,2,3,4,5]
squares = [x**2 for x in list]
print(squares)

modulo=[element % 3 for element in list]#the creation and operation of elements can be done in a single line
print(modulo)

[1, 4, 9, 16, 25]
[1, 2, 0, 1, 2]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

new_list2=[elem for elem in stocks if len(elem)<3]#creation of list with conditions and loops can also be made in one line
print(new_list2)

['AAPL', 'IBM']
['FB', 'F', 'V', 'G', 'GE']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])#creates a list of tuples with pairs of elements of the small lists if they are different
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

print([(a,b) for a in ['a','ab','abc'] for b in ['d','e','de','der']if len(a)==len(b)])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']
[('a', 'd'), ('a', 'e'), ('ab', 'de'), ('abc', 'der')]

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
def product(x,y): #the function takes two parameters
    return x*y    #returns the result of the multiplication of both parameters
print(product(2,3))
print(product(5,10))

def poten (x,y):
  return x**y
print(poten(2,3))
print(poten(5,10))

6
50
8
9765625

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [ ]:
def say_hi():#a function can take no parameters
    print('Welcome to QuantConnect')#but still execute a code
say_hi()

def suma():
  tot=0
  for i in range (10):
    tot=tot+i
  print(tot)
suma()

Welcome to QuantConnect
45

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [ ]:
print(range(10))#creates a list of ints from 0 to 10
print(range(1,11))#creates a list of ints from 1 to 11
print(range(1,11,2))#creates a list of ints from 1 to 11, with increments of two

print(range(10,1,-1))#creates a list of ints from 10 to 1, downwards

range(0, 10)
range(1, 11)
range(1, 11, 2)
range(10, 1, -1)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))#counts and prints the number of elements in the list
for i in range(len(tickers)):#iterates form i=0 to i= the number of elements in the list (the length of the list)
    print(tickers[i])
    for j in range(len(tickers[i])):#iterates as much as the number of characters in the string is
      print(tickers[i][j])

The length of tickers is 8
AAPL
A
A
P
L
GOOG
G
O
O
G
IBM
I
B
M
FB
F
B
F
F
V
V
G
G
GE
G
E

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [ ]:
print(list)
del list
list

[1, 2, 3, 4, 5]

list

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
list(map(len,tickers))#in the new list append the length of each element in the original list (aplies len to each element)

length=map(len,tickers)

list(map(float,length))

[4.0, 4.0, 3.0, 2.0, 1.0, 1.0, 1.0, 2.0]

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:
list(map(lambda x: x**2, range(10)))# the lambda function recieves a parameter x and aplies to it a power of 2, labda will recieve the list created by the range as parameters

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
list(map(lambda x: x % 2, range (10)))#calculates the module 2 of each number in the list created by the range

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))#lambda takes one by one the numbers from the two list and adds them

[6, 6, 6, 6, 6]

In [ ]:
list(map(lambda x,y:y/x,[1,3,5,7], range(4)))#divides one by one the elements of the second list by the elements of the first one

[0.0, 0.3333333333333333, 0.4, 0.42857142857142855]

**sorted()** takes a list or set and returns a new sorted list

In [ ]:
sorted([5,2,3,4,1])#sorts the elements of the list

[1, 2, 3, 4, 5]

In [ ]:
sorted(['cas','bvd','xfaw','gb'])#sorts the strings alfabeticly

['bvd', 'cas', 'gb', 'xfaw']

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])#tells the function to sort by the second element in each tuple

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [ ]:
nums=['AAPL','SDFG','ASFA','BSE','IUY']
sorted(nums, key = lambda x: x[2])#sorts by the 3rd letter

['BSE', 'SDFG', 'ASFA', 'AAPL', 'IUY']

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)#inverts the list (sorts it in reverse)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

In [ ]:
nums=['AAPL','SDFG','ASFA','BSE','IUY']
sorted(nums, key = lambda x: x[2], reverse=True)#sorts by the 3rd letter and in reverse

['IUY', 'AAPL', 'SDFG', 'ASFA', 'BSE']

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])#sorts the list by the second item in each tuple
print(price_list)

nums=['AAPL','SDFG','ASFA','BSE','IUY']
nums.sort(key = lambda x: x[2], reverse=True)#sorts by the 3rd letter and in reverse
print(nums)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]
['IUY', 'AAPL', 'SDFG', 'ASFA', 'BSE']

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [ ]:
class stock:#declares the class
    def __init__(self, ticker, open, close, volume):#constructor of the class
        #attributes of the object
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
 #methods of the class
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

In [ ]:
class person:#declares the class
    def __init__(self, age, name, lastname, birthday):#constructor of the class
        #attributes of the object
        self.age = age
        self.name = name
        self.lastname = lastname
        self.birthday = birthday
        
 #methods of the class
    def update(self, age, name):
        self.age = age
        self.name = name
        
 
    def salut(self):
        print('Hi! {}'.format(self.name))

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [ ]:
#Creation of objects using the cinstructir and the specified parameters
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

person1=person(23,'Sandra', 'Torres','may 8')
person2=person(54,'Erik','Aldana','feb 22')

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [ ]:
#usage of the methods of the class over one of the object
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

In [ ]:
person1.salut()
person1.update(24,'Zulima')
person1.salut()

Hi! Sandra
Hi! Zulima

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [ ]:
apple.ceo = 'Tim Cook'#creates a new attribute in the object and gives it a value
apple.ceo

person2.nationality='Colombian'#creates a new attribute in the object and gives it a value
person2.nationality

'Colombian'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
dir(apple)#shows all attributes and methodos of an object

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [ ]:
dir(person2)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'age',
 'birthday',
 'lastname',
 'name',
 'nationality',
 'salut',
 'update']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [ ]:
class child(stock):#child receives all the methods and attributes from stock (parent class)
    def __init__(self,name):#constructor with new attribute 'name'
        self.name = name
class teacher(person):#teacher (child class) receives all the methods and attributes from person (parent class)
  def __init__(self,subject):#constructor with new attribute 'subject'
    self.subject=subject

In [ ]:
aa = child('aa')#instance of the new class
print(aa.name)#the new object can use the attributes and methods of the parent class
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

t1=teacher('Calculus')#instance of the new class
print(t1.subject)#the new object can use the attributes and methods of the parent class
t1.update(36,'Camilo')
print(t1.age)
t1.salut()

aa
100
102
0.020000000000000018
None
Calculus
36
Hi! Camilo

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [ ]:
import numpy as np #imports numpy library and gives it a name

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [ ]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)#we can create the array by passing a variable
print(price_array, type(price_array))

int_array=np.array([1,2,3,4,5,6,7,8,9])#or we can reate it directly with the values
print(int_array, type(int_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>
[1 2 3 4 5 6 7 8 9] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [ ]:
Ar = np.array([[1,3],[2,4]])#this is a 2x2 matrix
print(Ar, type(Ar))

Ar2 = np.array([[1,3],[2,4],[5,6]])#this is a 3x2 matrix
print(Ar2, type(Ar2))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>
[[1 3]
 [2 4]
 [5 6]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [ ]:
print(Ar.shape)#prints the dimensions of the matrix/vector
print(Ar2.shape)

(2, 2)
(3, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [ ]:
print(Ar[0])#returns the row 0
print(Ar[1])#returns the row 1

print(Ar2[0])#returns the row 0
print(Ar2[1,:])#returns the row 1 (: means all the columns on that row)
print(Ar2[2])#returns the row 2

[1 3]
[2 4]
[1 3]
[2 4]
[5 6]

If we want to access the matrix by column instead:

In [ ]:
print('the first column: ', Ar[:,0])#selects all the rows(":") but only column 0
print('the second column: ', Ar[:,1])#selects all the rows(":") in column 0

print(Ar2[:,0])#selects the first column
print(Ar2[:,1])#selects the second column

the first column:  [1 2]
the second column:  [3 4]
[1 2 5]
[3 4 6]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [ ]:
print(np.log(price_array))#takes each number in the array and applies the log

print(np.log(Ar2))#it also works for multidimentional arrays

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]
[[0.         1.09861229]
 [0.69314718 1.38629436]
 [1.60943791 1.79175947]]

Other functions return a single value:

In [ ]:
print(np.mean(price_array))#returns the mean of the array elements
print(np.std(price_array))#returns the standard deviation of the array elements
print(np.sum(price_array))#returns the addition of the array elements
print(np.max(price_array))#returns largest value in the array

#it also works for multidementional arrays
print(np.mean(Ar2))#returns the mean of the array elements
print(np.std(Ar2))#returns the standard deviation of the array elements
print(np.sum(Ar2))#returns the addition of the array elements
print(np.max(Ar2))#returns largest value in the array
print(np.min(Ar2))#returns smallest value in the array

143.89666666666668
0.9673790478515796
863.38
145.83
3.5
1.707825127659933
21
6
1

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [ ]:
import pandas as pd#import Pandas and calles ir pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [ ]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s

newarr=['a',2,3.5,True]
newser = pd.Series(newarr)#the Series can hold different data types and be of type object
newser

0       a
1       2
2     3.5
3    True
dtype: object

We can customize the indices of a new Series:

In [ ]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])#changes the index of the elements with a list as we create it
s

newser=pd.Series(newarr, index=["#1","#2","#3","#4"])
newser

#1       a
#2       2
#3     3.5
#4    True
dtype: object

Or we can change the indices of an existing Series:

In [ ]:
s.index = [6,5,4,3,2,1] #changes the index of an existing Series
s

newser.index=["#-1","#-2","#-3","#-4"]
newser

#-1       a
#-2       2
#-3     3.5
#-4    True
dtype: object

Series is like a list since it can be sliced by index:

In [ ]:
print(s[1:])#selects the elements from the position 1 to the end
print(s[:-2])#selects the elements from the beggining to the position two steps before the last one (-2)

print(newser[0:3])#2 ways to print the same slice
print(newser[:-1])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64
#-1      a
#-2      2
#-3    3.5
dtype: object
#-1      a
#-2      2
#-3    3.5
dtype: object

Series is also like a dictionary whose values can be set or fetched by index label:

In [ ]:
print(s[4])#searchs the element in the position called 4
s[4] = 0#changes the element in the position called 4
print(s)

print(newser["#-2"])
newser["#-2"]=69
print(newser)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64
2
#-1       a
#-2      69
#-3     3.5
#-4    True
dtype: object

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [ ]:
s = pd.Series(price, name = 'Apple Price List')#asignes a name to the series when created
print(s)
print(s.name)

newser.name="Mi serie" #you can give name to an existing series
print(newser)
print(newser.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List
#-1       a
#-2      69
#-3     3.5
#-4    True
Name: Mi serie, dtype: object
Mi serie

We can get the statistical summaries of a Series:

In [ ]:
print(s.describe())#prints the statistics of the series, includinf min, max, std, mean etc (when elements are all numbers)

print(newser.describe())#whe different types, it gives info on count and frequency of elements

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64
count     4
unique    4
top       a
freq      1
Name: Mi serie, dtype: object

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [ ]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')#creates the date indexes starting from '2017-01-01', during a number of periods equal to the length of the series and changing in days
print(time_index)
s.index = time_index
print(s)

time_index2 = pd.date_range('2017-01-01',periods = len(s),freq = 'M')#the same but changes by month
print(time_index2)
s.index = time_index2
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64
DatetimeIndex(['2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30',
               '2017-05-31', '2017-06-30'],
              dtype='datetime64[ns]', freq='M')
2017-01-31    143.73
2017-02-28    145.83
2017-03-31    143.68
2017-04-30    144.02
2017-05-31    143.50
2017-06-30    142.62
Freq: M, Name: Apple Price List, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [ ]:
s.index = [6,5,4,3,2,1]#uses the index defined by the user
print(s)
print(s[1])

print(s[5])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62
145.83

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [ ]:
print(s.iloc[1])#uses the position in the series as index
print(s.iloc[5])

145.83
142.62

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [ ]:
s.index = time_index
print(s['2017-01-03'])#search using an specific date index

s.index = time_index2
print(s['2017-06-30'])

143.68
142.62

We can even access to a range of dates:

In [ ]:
s.index = time_index
print(s['2017-01-02':'2017-01-05'])#selects all the elements which index is inside the range given
s.index = time_index2
print(s['2017-02-24':'2017-06-10'])#borders don't have to be exact

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64
2017-02-28    145.83
2017-03-31    143.68
2017-04-30    144.02
2017-05-31    143.50
Freq: M, Name: Apple Price List, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [ ]:
print(s[s < np.mean(s)] )#prints the elements that meet the condition
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])#evaluates the conditions on each element and gives the results

print(newser!=69)
print((newser!=69) & (newser !=True))

2017-01-31    143.73
2017-03-31    143.68
2017-05-31    143.50
2017-06-30    142.62
Name: Apple Price List, dtype: float64
[2017-01-31    False
2017-02-28    False
2017-03-31    False
2017-04-30     True
2017-05-31    False
2017-06-30    False
Freq: M, Name: Apple Price List, dtype: bool]
#-1     True
#-2    False
#-3     True
#-4     True
Name: Mi serie, dtype: bool
#-1     True
#-2    False
#-3     True
#-4    False
Name: Mi serie, dtype: bool

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [ ]:
!pip install yfinance  #instalation of yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.70)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.5)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.8.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)

In [ ]:
import yfinance as yf

aapl = yf.Ticker("AAPL")#gets apple's data

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")#prints selection in table
aapl_table

msft = yf.Ticker("MSFT")#gets Microsoft data
print(msft.info)

msft_table = aapl.history(start="2019-01-01",  end="2021-12-31")
msft_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 100000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408 996 1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'https://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.33890998, 'profitMargins': 0.26579002, 'grossMargins': 0.43019, 'operatingCashflow': 112241000448, 'revenueGrowth': 0.112, 'operatingMargins': 0.309, 'ebitda': 128217997312, 'targetLowPrice': 160, 'recommendationKey': 'buy', 'grossProfits': 152836000000, 'freeCashflow': 80153247744, 'targetMedianPrice': 199.5, 'currentPrice': 154.73, 'earningsGrowth': 0.25, 'currentRatio': 1.038, 'returnOnAssets': 0.19875, 'numberOfAnalystOpinions': 44, 'targetMeanPrice': 193.53, 'debtToEquity': 170.714, 'returnOnEquity': 1.45567, 'targetHighPrice': 215, 'totalCash': 63913000960, 'totalDebt': 122797998080, 'totalRevenue': 378323009536, 'totalCashPerShare': 3.916, 'financialCurrency': 'USD', 'revenuePerShare': 22.838, 'quickRatio': 0.875, 'recommendationMean': 1.8, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 6.83, 'beta3Year': None, 'enterpriseToEbitda': 20.153, '52WeekChange': 0.24792325, 'morningStarRiskRating': None, 'forwardEps': 6.56, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16319399936, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 4.402, 'sharesShort': 110322490, 'sharesPercentSharesOut': 0.0068, 'fundFamily': None, 'lastFiscalYearEnd': 1632528000, 'heldPercentInstitutions': 0.59426, 'netIncomeToCommon': 100554997760, 'trailingEps': 6.015, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.059303045, 'priceToBook': 35.149933, 'heldPercentInsiders': 0.0007, 'nextFiscalYearEnd': 1695600000, 'yield': None, 'mostRecentQuarter': 1640390400, 'shortRatio': 1.2, 'sharesShortPreviousMonthDate': 1643587200, 'floatShares': 16302795170, 'beta': 1.185531, 'enterpriseValue': 2583992205312, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1643932800, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.204, 'priceToSalesTrailing12Months': 6.674457, 'dateShortInterest': 1646006400, 'pegRatio': 1.73, 'ytdReturn': None, 'forwardPE': 23.58689, 'lastCapGain': None, 'shortPercentOfFloat': 0.0068, 'sharesShortPriorMonth': 91388112, 'impliedSharesOutstanding': 0, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 158.52, 'regularMarketOpen': 158.93, 'twoHundredDayAverage': 153.6086, 'trailingAnnualDividendYield': 0.0054567247, 'payoutRatio': 0.1434, 'volume24Hr': None, 'regularMarketDayHigh': 159.2799, 'navPrice': None, 'averageDailyVolume10Day': 93968420, 'regularMarketPreviousClose': 158.52, 'fiftyDayAverage': 168.6374, 'trailingAnnualDividendRate': 0.865, 'open': 158.93, 'toCurrency': None, 'averageVolume10days': 93968420, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1643932800, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 154.5, 'currency': 'USD', 'trailingPE': 25.724024, 'regularMarketVolume': 96970102, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2525100769280, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 96650550, 'dayLow': 154.5, 'ask': 154.59, 'askSize': 2900, 'volume': 96970102, 'fiftyTwoWeekHigh': 182.94, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.13, 'fiftyTwoWeekLow': 118.86, 'bid': 154.44, 'tradeable': False, 'dividendYield': 0.0057, 'bidSize': 1000, 'dayHigh': 159.2799, 'regularMarketPrice': 154.73, 'preMarketPrice': None, 'logo_url': 'https://logo.clearbit.com/apple.com', 'trailingPegRatio': 3.2017}
{'zip': '98052-6399', 'sector': 'Technology', 'fullTimeEmployees': 181000, 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. Its Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, and Skype for Business, as well as related Client Access Licenses (CAL); Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for organizations and enterprise divisions. Its Intelligent Cloud segment licenses SQL, Windows Servers, Visual Studio, System Center, and related CALs; GitHub that provides a collaboration platform and code hosting service for developers; and Azure, a cloud platform. It also offers support services and Microsoft consulting services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification on Microsoft products. Its More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; Windows Internet of Things; and MSN advertising. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. It sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. It has collaborations with Dynatrace, Inc., Morgan Stanley, Micro Focus, WPP plc, ACI Worldwide, Inc., and iCIMS, Inc., as well as strategic relationships with Avaya Holdings Corp. and wejo Limited. Microsoft Corporation was founded in 1975 and is based in Redmond, Washington.', 'city': 'Redmond', 'phone': '425 882 8080', 'state': 'WA', 'country': 'United States', 'companyOfficers': [], 'website': 'https://www.microsoft.com', 'maxAge': 1, 'address1': 'One Microsoft Way', 'industry': 'Software—Infrastructure', 'ebitdaMargins': 0.49123, 'profitMargins': 0.38498002, 'grossMargins': 0.68825996, 'operatingCashflow': 83909001216, 'revenueGrowth': 0.201, 'operatingMargins': 0.42523998, 'ebitda': 90829996032, 'targetLowPrice': 306.55, 'recommendationKey': 'buy', 'grossProfits': 115856000000, 'freeCashflow': 46479876096, 'targetMedianPrice': 370, 'currentPrice': 280.07, 'earningsGrowth': 0.222, 'currentRatio': 2.247, 'returnOnAssets': 0.15248999, 'numberOfAnalystOpinions': 46, 'targetMeanPrice': 370.89, 'debtToEquity': 50.217, 'returnOnEquity': 0.49051, 'targetHighPrice': 425, 'totalCash': 125348003840, 'totalDebt': 80353001472, 'totalRevenue': 184902991872, 'totalCashPerShare': 16.72, 'financialCurrency': 'USD', 'revenuePerShare': 24.585, 'quickRatio': 2.05, 'recommendationMean': 1.7, 'exchange': 'NMS', 'shortName': 'Microsoft Corporation', 'longName': 'Microsoft Corporation', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'MSFT', 'messageBoardId': 'finmb_21835', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 11.112, 'beta3Year': None, 'enterpriseToEbitda': 22.621, '52WeekChange': 0.19275153, 'morningStarRiskRating': None, 'forwardEps': 10.75, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 7496869888, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 21.335, 'sharesShort': 41488998, 'sharesPercentSharesOut': 0.0055, 'fundFamily': None, 'lastFiscalYearEnd': 1625011200, 'heldPercentInstitutions': 0.71939003, 'netIncomeToCommon': 71184998400, 'trailingEps': 9.389, 'lastDividendValue': 0.62, 'SandP52WeekChange': 0.059303045, 'priceToBook': 13.127256, 'heldPercentInsiders': 0.00059, 'nextFiscalYearEnd': 1688083200, 'yield': None, 'mostRecentQuarter': 1640908800, 'shortRatio': 1.1, 'sharesShortPreviousMonthDate': 1643587200, 'floatShares': 7489894342, 'beta': 0.910925, 'enterpriseValue': 2054652428288, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1045526400, 'lastSplitFactor': '2:1', 'legalType': None, 'lastDividendDate': 1644969600, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.214, 'priceToSalesTrailing12Months': 11.355405, 'dateShortInterest': 1646006400, 'pegRatio': 1.76, 'ytdReturn': None, 'forwardPE': 26.053024, 'lastCapGain': None, 'shortPercentOfFloat': 0.0055, 'sharesShortPriorMonth': 40179258, 'impliedSharesOutstanding': 0, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 285.59, 'regularMarketOpen': 287.96, 'twoHundredDayAverage': 300.041, 'trailingAnnualDividendYield': 0.0082635945, 'payoutRatio': 0.2449, 'volume24Hr': None, 'regularMarketDayHigh': 288.9189, 'navPrice': None, 'averageDailyVolume10Day': 34168930, 'regularMarketPreviousClose': 285.59, 'fiftyDayAverage': 302.3236, 'trailingAnnualDividendRate': 2.36, 'open': 287.96, 'toCurrency': None, 'averageVolume10days': 34168930, 'expireDate': None, 'algorithm': None, 'dividendRate': 2.48, 'exDividendDate': 1644969600, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 279.43, 'currency': 'USD', 'trailingPE': 29.829588, 'regularMarketVolume': 27209330, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2099648397312, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 37644001, 'dayLow': 279.43, 'ask': 279.8, 'askSize': 1800, 'volume': 27209330, 'fiftyTwoWeekHigh': 349.67, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.34, 'fiftyTwoWeekLow': 229.35, 'bid': 279.63, 'tradeable': False, 'dividendYield': 0.0089, 'bidSize': 1400, 'dayHigh': 288.9189, 'regularMarketPrice': 280.07, 'preMarketPrice': None, 'logo_url': 'https://logo.clearbit.com/microsoft.com', 'trailingPegRatio': 2.4159}

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-01-02,37.543099,38.502947,37.383124,38.277527,148158800,0.0,0.0
2019-01-03,34.898666,35.320419,34.418744,34.464798,365248800,0.0,0.0
2019-01-04,35.031988,36.006379,34.855047,35.936085,234428400,0.0,0.0
2019-01-07,36.042725,36.074236,35.364044,35.856087,219111200,0.0,0.0
2019-01-08,36.251184,36.798978,35.999104,36.539623,164101200,0.0,0.0
...,...,...,...,...,...,...,...
2021-12-23,175.626249,176.624977,175.046985,176.055695,68356600,0.0,0.0
2021-12-27,176.864657,180.190422,176.844694,180.100540,74919600,0.0,0.0
2021-12-28,179.930762,181.099272,178.302832,179.061859,79144300,0.0,0.0
2021-12-29,179.101809,180.400158,177.913321,179.151749,62348900,0.0,0.0
2021-12-30,179.241640,180.340246,177.863391,177.973251,59773000,0.0,0.0

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [ ]:
aapl = aapl_table['Close']['2017']#from the table selects the columns and rows we need
miifst=msft_table['Volume']['2021']

In [ ]:
print(aapl)
print(miifst)

Date
2017-01-03    27.297691
2017-01-04    27.267138
2017-01-05    27.405806
2017-01-06    27.711329
2017-01-09    27.965151
                ...
2017-12-22    41.792458
2017-12-26    40.732178
2017-12-27    40.739346
2017-12-28    40.853970
2017-12-29    40.412186
Name: Close, Length: 251, dtype: float64
Date
2021-01-04    143301900
2021-01-05     97664900
2021-01-06    155088000
2021-01-07    109578200
2021-01-08    105158200
                ...
2021-12-23     68356600
2021-12-27     74919600
2021-12-28     79144300
2021-12-29     62348900
2021-12-30     59773000
Name: Volume, Length: 251, dtype: int64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [ ]:
print(aapl['2017-3'])#selects info only from year and month specified
print("\n")
print(miifst['2021-6-8'])#selects info only from year, month and day specified

Date
2017-03-01    32.996033
2017-03-02    32.800114
2017-03-03    32.993671
2017-03-06    32.889801
2017-03-07    32.932301
2017-03-08    32.809551
2017-03-09    32.734020
2017-03-10    32.842609
2017-03-13    32.856762
2017-03-14    32.807198
2017-03-15    33.154167
2017-03-16    33.208469
2017-03-17    33.043236
2017-03-20    33.390221
2017-03-21    33.007828
2017-03-22    33.380772
2017-03-23    33.262756
2017-03-24    33.196667
2017-03-27    33.253315
2017-03-28    33.942554
2017-03-29    34.018074
2017-03-30    33.973228
2017-03-31    33.909500
Name: Close, dtype: float64


74403800

In [ ]:
aapl['2017-2':'2017-4']#selects info from the period specified

print("\n")
print(miifst['2021-06-08':'2021-6-18'])

Date
2021-06-08     74403800
2021-06-09     56877900
2021-06-10     71186400
2021-06-11     53522400
2021-06-14     96906500
2021-06-15     62746300
2021-06-16     91815000
2021-06-17     96721700
2021-06-18    108953300
Name: Volume, dtype: int64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [ ]:
print(aapl.head(5))#shows the first 5 registers in the data
print(aapl.tail(10))#shows the last 10 registers in the data

print(miifst.head(3))#shows the first 3 registers in the data
print(miifst.tail(3))#shows the last 3 registers in the data

Date
2017-01-03    27.297691
2017-01-04    27.267138
2017-01-05    27.405806
2017-01-06    27.711329
2017-01-09    27.965151
Name: Close, dtype: float64
Date
2017-12-15    41.544098
2017-12-18    42.129162
2017-12-19    41.680225
2017-12-20    41.634850
2017-12-21    41.792458
2017-12-22    41.792458
2017-12-26    40.732178
2017-12-27    40.739346
2017-12-28    40.853970
2017-12-29    40.412186
Name: Close, dtype: float64
Date
2021-01-04    143301900
2021-01-05     97664900
2021-01-06    155088000
Name: Volume, dtype: int64
Date
2021-12-28    79144300
2021-12-29    62348900
2021-12-30    59773000
Name: Volume, dtype: int64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [ ]:
#groups the data by month and prints the mean of each month
by_month = aapl.resample('M').mean()
print(by_month)

by_month = miifst.resample('M').mean()
print(by_month)

Date
2017-01-31    28.101464
2017-02-28    31.520056
2017-03-31    33.191428
2017-04-30    33.727007
2017-05-31    36.027136
2017-06-30    35.038140
2017-07-31    35.149096
2017-08-31    37.793850
2017-09-30    37.502155
2017-10-31    37.551831
2017-11-30    41.121431
2017-12-31    41.047757
Freq: M, Name: Close, dtype: float64
Date
2021-01-31    1.179085e+08
2021-02-28    9.651872e+07
2021-03-31    1.152356e+08
2021-04-30    8.999321e+07
2021-05-31    8.559674e+07
2021-06-30    7.302682e+07
2021-07-31    9.137983e+07
2021-08-31    6.639746e+07
2021-09-30    8.559361e+07
2021-10-31    7.451747e+07
2021-11-30    8.051468e+07
2021-12-31    1.133545e+08
Freq: M, Name: Volume, dtype: float64

We can also aggregate the data by week:

In [ ]:
#groups the data by week and prints the mean of each week
by_week = aapl.resample('W').mean()
print(by_week.head())#prints only the first 5 rows

by_week = miifst.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.420491
2017-01-15    28.021087
2017-01-22    28.189007
2017-01-29    28.476088
2017-02-05    29.581625
Freq: W-SUN, Name: Close, dtype: float64
Date
2021-01-10    122158240.0
2021-01-17     96558540.0
2021-01-24    107421775.0
2021-01-31    143398200.0
2021-02-07     87860600.0
Freq: W-SUN, Name: Volume, dtype: float64

We can also aggregate the data by month with max:

In [ ]:
#groups the data by month and prints the max value of each month
aapl.resample('M').max()

miifst.resample('M').max()

Date
2021-01-31    177523800
2021-02-28    164560400
2021-03-31    185549500
2021-04-30    151101000
2021-05-31    137564700
2021-06-30    108953300
2021-07-31    127050800
2021-08-31    103296000
2021-09-30    140646400
2021-10-31    124850400
2021-11-30    174048100
2021-12-31    195432700
Freq: M, Name: Volume, dtype: int64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [ ]:
three_day = aapl.resample('3D').mean()#groups the data by 3 day periods and prints the mean of each period
two_week = aapl.resample('2W').mean()#groups the data by 2 week periods and prints the mean of each period
two_month = aapl.resample('2M').mean()#groups the data by 2 month periods and prints the mean of each period

eight_day = miifst.resample('8D').min()#groups the data by 8 day periods and prints the min value of each period
three_week = miifst.resample('3W').min()#groups the data by 3 week periods and prints the min value of each period
six_month = miifst.resample('6M').min()#groups the data by 6 month periods and prints the min value of each period

print(three_day)
print(two_week)
print(two_month)
print(eight_day)
print(three_week)
print(six_month)

Date
2017-01-03    27.323545
2017-01-06    27.711329
2017-01-09    28.034091
2017-01-12    28.001580
2017-01-15    28.202520
                ...
2017-12-17    41.904694
2017-12-20    41.739922
2017-12-23          NaN
2017-12-26    40.775164
2017-12-29    40.412186
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.420491
2017-01-22    28.095718
2017-02-05    29.028856
2017-02-19    31.430841
2017-03-05    32.506639
2017-03-19    32.927811
2017-04-02    33.533492
2017-04-16    33.757389
2017-04-30    33.699664
2017-05-14    35.600252
2017-05-28    36.396620
2017-06-11    36.415393
2017-06-25    34.434853
2017-07-09    34.171663
2017-07-23    35.182635
2017-08-06    36.173828
2017-08-20    37.800720
2017-09-03    38.353883
2017-09-17    38.178276
2017-10-01    36.740374
2017-10-15    36.970465
2017-10-29    37.654323
2017-11-12    40.920305
2017-11-26    41.091972
2017-12-10    40.755585
2017-12-24    41.507329
2018-01-07    40.684420
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.101464
2017-03-31    32.435331
2017-05-31    34.961222
2017-07-31    35.090976
2017-09-30    37.658178
2017-11-30    39.295124
2018-01-31    41.047757
Freq: 2M, Name: Close, dtype: float64
Date
2021-01-04     97664900
2021-01-12     88636800
2021-01-20     98390600
2021-01-28     83305400
2021-02-05     60145100
2021-02-13     80576300
2021-02-21    103916400
2021-03-01    102260900
2021-03-09     88105100
2021-03-17     88530500
2021-03-25     75089100
2021-04-02     80171300
2021-04-10     84922400
2021-04-18     68847100
2021-04-26     66015800
2021-05-04     78128300
2021-05-12     63342900
2021-05-20     56575900
2021-05-28     59278900
2021-06-05     53522400
2021-06-13     62746300
2021-06-21     60214200
2021-06-29     52485800
2021-07-07     76299700
2021-07-15     74993500
2021-07-23     56699500
2021-07-31     46397700
2021-08-08     48493500
2021-08-16     59947400
2021-08-24     48597200
2021-09-01     57808700
2021-09-09     57305700
2021-09-17     53477900
2021-09-25     74150700
2021-10-03     58718700
2021-10-11     64452200
2021-10-19     50720600
2021-10-27     54511500
2021-11-04     41000000
2021-11-12     59222800
2021-11-20     69463600
2021-11-28     88748200
2021-12-06    107497000
2021-12-14     91185900
2021-12-22     62348900
2021-12-30     59773000
Freq: 8D, Name: Volume, dtype: int64
Date
2021-01-10    97664900
2021-01-31    88636800
2021-02-21    60145100
2021-03-14    88105100
2021-04-04    75089100
2021-04-25    68847100
2021-05-16    66015800
2021-06-06    56575900
2021-06-27    53522400
2021-07-18    52485800
2021-08-08    46397700
2021-08-29    48493500
2021-09-19    57305700
2021-10-10    53477900
2021-10-31    50720600
2021-11-21    41000000
2021-12-12    69463600
2022-01-02    59773000
Freq: 3W-SUN, Name: Volume, dtype: int64
Date
2021-01-31    88636800
2021-07-31    52485800
2022-01-31    41000000
Freq: 6M, Name: Volume, dtype: int64

Besides the mean() method, other methods can also be used with the resampler:

In [ ]:
std = aapl.resample('W').std()#groups the data by week and prints the standar deviation of each
max = aapl.resample('W').max()#groups the data by week and prints the max value of each
min = aapl.resample('W').min()#groups the data by week and prints the min value of each

std2 = miifst.resample('3M').std()#groups the data by 3 month periods and prints the standar deviation of each
max2 = miifst.resample('3M').max()#groups the data by 3 month periods and prints the max value of each
min2 = miifst.resample('3M').min()#groups the data by 3 month periods and prints the min value of each


print(std)
print(max)
print(min)

print(std2)
print(max2)
print(min2)

Date
2017-01-08    0.202813
2017-01-15    0.072332
2017-01-22    0.025486
2017-01-29    0.244618
2017-02-05    0.940686
2017-02-12    0.251313
2017-02-19    0.230760
2017-02-26    0.059183
2017-03-05    0.339166
2017-03-12    0.076078
2017-03-19    0.177349
2017-03-26    0.156836
2017-04-02    0.318933
2017-04-09    0.128338
2017-04-16    0.211896
2017-04-23    0.174200
2017-04-30    0.089781
2017-05-07    0.234993
2017-05-14    0.352011
2017-05-21    0.534632
2017-05-28    0.060229
2017-06-04    0.280456
2017-06-11    0.618342
2017-06-18    0.381524
2017-06-25    0.128542
2017-07-02    0.263390
2017-07-09    0.158458
2017-07-16    0.403181
2017-07-23    0.124645
2017-07-30    0.383392
2017-08-06    0.921871
2017-08-13    0.466196
2017-08-20    0.434068
2017-08-27    0.275017
2017-09-03    0.251037
2017-09-10    0.380601
2017-09-17    0.293340
2017-09-24    0.733185
2017-10-01    0.353876
2017-10-08    0.204296
2017-10-15    0.118404
2017-10-22    0.515587
2017-10-29    0.678597
2017-11-05    0.559154
2017-11-12    0.190449
2017-11-19    0.435006
2017-11-26    0.561505
2017-12-03    0.426279
2017-12-10    0.072931
2017-12-17    0.204701
2017-12-24    0.193592
2017-12-31    0.189874
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.711329
2017-01-15    28.143768
2017-01-22    28.202520
2017-01-29    28.660814
2017-02-05    30.336514
2017-02-12    31.256411
2017-02-19    32.035343
2017-02-26    32.363441
2017-03-05    32.996033
2017-03-12    32.932301
2017-03-19    33.208469
2017-03-26    33.390221
2017-04-02    34.018074
2017-04-09    34.171509
2017-04-16    33.793842
2017-04-23    33.621540
2017-04-30    34.114861
2017-05-07    35.160511
2017-05-14    36.997913
2017-05-21    36.903122
2017-05-28    36.497826
2017-06-04    36.843861
2017-06-11    36.824902
2017-06-18    34.743923
2017-06-25    34.684662
2017-07-02    34.563789
2017-07-09    34.172714
2017-07-16    35.324608
2017-07-23    35.793888
2017-07-30    36.372208
2017-08-06    37.244423
2017-08-13    38.173519
2017-08-20    38.451923
2017-08-27    38.066444
2017-09-03    39.034878
2017-09-10    38.566132
2017-09-17    38.428120
2017-09-24    37.769009
2017-10-01    36.698254
2017-10-08    36.974270
2017-10-15    37.354977
2017-10-22    38.183033
2017-10-29    38.796932
2017-11-05    41.045513
2017-11-12    41.935425
2017-11-19    41.544098
2017-11-26    41.782902
2017-12-03    41.572758
2017-12-10    40.548309
2017-12-17    41.544098
2017-12-24    42.129162
2017-12-31    40.853970
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.267138
2017-01-15    27.965151
2017-01-22    28.150814
2017-01-29    28.195475
2017-02-05    28.519800
2017-02-12    30.620888
2017-02-19    31.461769
2017-02-26    32.226536
2017-03-05    32.320953
2017-03-12    32.734020
2017-03-19    32.807198
2017-03-26    33.007828
2017-04-02    33.253315
2017-04-09    33.833973
2017-04-16    33.293438
2017-04-23    33.206097
2017-04-30    33.904785
2017-05-07    34.586941
2017-05-14    36.116474
2017-05-21    35.611389
2017-05-28    36.343761
2017-06-04    36.206291
2017-06-11    35.310383
2017-06-18    33.720013
2017-06-25    34.369438
2017-07-02    34.054199
2017-07-09    33.829041
2017-07-16    34.381287
2017-07-23    35.447853
2017-07-30    35.433636
2017-08-06    35.251125
2017-08-13    36.957619
2017-08-20    37.476337
2017-08-27    37.407333
2017-09-03    38.420986
2017-09-10    37.745213
2017-09-17    37.661930
2017-09-24    36.141468
2017-10-01    35.822620
2017-10-08    36.519794
2017-10-15    37.081341
2017-10-22    37.114658
2017-10-29    37.159874
2017-11-05    39.670189
2017-11-12    41.461914
2017-11-19    40.376373
2017-11-26    40.591293
2017-12-03    40.471886
2017-12-10    40.359650
2017-12-17    41.002029
2017-12-24    41.634850
2017-12-31    40.412186
Freq: W-SUN, Name: Close, dtype: float64
Date
2021-01-31    2.677040e+07
2021-04-30    2.802019e+07
2021-07-31    2.022316e+07
2021-10-31    2.140026e+07
2022-01-31    3.703779e+07
Freq: 3M, Name: Volume, dtype: float64
Date
2021-01-31    177523800
2021-04-30    185549500
2021-07-31    137564700
2021-10-31    140646400
2022-01-31    195432700
Freq: 3M, Name: Volume, dtype: int64
Date
2021-01-31    88636800
2021-04-30    60145100
2021-07-31    52485800
2021-10-31    46397700
2022-01-31    41000000
Freq: 3M, Name: Volume, dtype: int64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [ ]:
last_day = aapl.resample('M').agg(lambda x: x[-1]) #groups the data by month and returns the value of the last day of each month
print(last_day)

second_last_day = miifst.resample('6W').agg(lambda x: x[-2]) #groups the data by 6 week periods and returns the value of the second to last day of each period
print(second_last_day)

Date
2017-01-31    28.519800
2017-02-28    32.335114
2017-03-31    33.909500
2017-04-30    33.907139
2017-05-31    36.206291
2017-06-30    34.134796
2017-07-31    35.251125
2017-08-31    39.022984
2017-09-30    36.672081
2017-10-31    40.222221
2017-11-30    41.037846
2017-12-31    40.412186
Freq: M, Name: Close, dtype: float64
Date
2021-01-10    109578200
2021-02-21     96856700
2021-04-04    118323800
2021-05-16    105861300
2021-06-27     68711000
2021-08-08     46397700
2021-09-19     68034100
2021-10-31    100077900
2021-12-12    108923700
2022-01-23     62348900
Freq: 6W-SUN, Name: Volume, dtype: int64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [ ]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)#groups the data by month and returns the a value calculated by comparing the first and last day
print(monthly_return)

six_week_return = miifst.resample('6W').agg(lambda x: x[-2]/x[1] - 1)#groups the data by 6 weeks and returns the a value calculated by comparing the second and second to last day
print(six_week_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027684
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64
Date
2021-01-10    0.121981
2021-02-21    0.053350
2021-04-04   -0.252407
2021-05-16    0.320439
2021-06-27    0.084747
2021-08-08   -0.281281
2021-09-19   -0.014329
2021-10-31    0.319697
2021-12-12    0.575818
2022-01-23   -0.552671
Freq: 6W-SUN, Name: Volume, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [ ]:
print(monthly_return.mean())#returns the mean of the selected data
print(monthly_return.std())#returns the standar deviation of the selected data
print(monthly_return.max())#returns the max value of the selected data

print(six_week_return.mean())#returns the mean of the selected data
print(six_week_return.std())#returns the standar of the selected data
print(six_week_return.min())#returns the min value of the selected data

0.02686324930491261
0.052258469973495286
0.09901824363692846
0.03753447546664947
0.33262453957639954
-0.5526709637796994

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [ ]:
print(last_day.diff())#calculates the difference between consecutive data 
print(last_day.pct_change()) #calculates the percentage change between consecutive data 

print(six_week_return.diff())#calculates the difference between consecutive data 
print(six_week_return.pct_change()) #calculates the percentage change between consecutive data

Date
2021-01-10           NaN
2021-02-21   -12721500.0
2021-04-04    21467100.0
2021-05-16   -12462500.0
2021-06-27   -37150300.0
2021-08-08   -22313300.0
2021-09-19    21636400.0
2021-10-31    32043800.0
2021-12-12     8845800.0
2022-01-23   -46574800.0
Freq: 6W-SUN, Name: Volume, dtype: float64
Date
2021-01-10         NaN
2021-02-21   -0.116095
2021-04-04    0.221638
2021-05-16   -0.105325
2021-06-27   -0.350934
2021-08-08   -0.324741
2021-09-19    0.466325
2021-10-31    0.470996
2021-12-12    0.088389
2022-01-23   -0.427591
Freq: 6W-SUN, Name: Volume, dtype: float64
Date
2021-01-10         NaN
2021-02-21   -0.068631
2021-04-04   -0.305757
2021-05-16    0.572846
2021-06-27   -0.235692
2021-08-08   -0.366028
2021-09-19    0.266952
2021-10-31    0.334026
2021-12-12    0.256121
2022-01-23   -1.128489
Freq: 6W-SUN, Name: Volume, dtype: float64
Date
2021-01-10          NaN
2021-02-21    -0.562637
2021-04-04    -5.731143
2021-05-16    -2.269533
2021-06-27    -0.735529
2021-08-08    -4.319079
2021-09-19    -0.949060
2021-10-31   -23.311907
2021-12-12     0.801137
2022-01-23    -1.959801
Freq: 6W-SUN, Name: Volume, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [ ]:
daily_return = last_day.pct_change()#calculates the percentage change between consecutive data 
print(daily_return.fillna(0))#Replaces the NaN value with the given (0)

week_return = six_week_return.diff()#calculates the percentage change between consecutive data 
print(week_return.fillna('zero'))#Replaces the NaN value with the given ('zero')

Date
2021-01-10    0.000000
2021-02-21   -0.116095
2021-04-04    0.221638
2021-05-16   -0.105325
2021-06-27   -0.350934
2021-08-08   -0.324741
2021-09-19    0.466325
2021-10-31    0.470996
2021-12-12    0.088389
2022-01-23   -0.427591
Freq: 6W-SUN, Name: Volume, dtype: float64
Date
2021-01-10        zero
2021-02-21   -0.068631
2021-04-04   -0.305757
2021-05-16    0.572846
2021-06-27   -0.235692
2021-08-08   -0.366028
2021-09-19    0.266952
2021-10-31    0.334026
2021-12-12    0.256121
2022-01-23   -1.128489
Freq: 6W-SUN, Name: Volume, dtype: object

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))#Replaces the NaN value with the next value

week_return = six_week_return.diff()
print(week_return.fillna(method = 'bfill'))#Replaces the NaN value with the next value

Date
2021-01-10   -0.116095
2021-02-21   -0.116095
2021-04-04    0.221638
2021-05-16   -0.105325
2021-06-27   -0.350934
2021-08-08   -0.324741
2021-09-19    0.466325
2021-10-31    0.470996
2021-12-12    0.088389
2022-01-23   -0.427591
Freq: 6W-SUN, Name: Volume, dtype: float64
Date
2021-01-10   -0.068631
2021-02-21   -0.068631
2021-04-04   -0.305757
2021-05-16    0.572846
2021-06-27   -0.235692
2021-08-08   -0.366028
2021-09-19    0.266952
2021-10-31    0.334026
2021-12-12    0.256121
2022-01-23   -1.128489
Freq: 6W-SUN, Name: Volume, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [ ]:
daily_return = last_day.pct_change()
daily_return.dropna()#deletes the NaN value

print(week_return.dropna())

Date
2021-02-21   -0.068631
2021-04-04   -0.305757
2021-05-16    0.572846
2021-06-27   -0.235692
2021-08-08   -0.366028
2021-09-19    0.266952
2021-10-31    0.334026
2021-12-12    0.256121
2022-01-23   -1.128489
Freq: 6W-SUN, Name: Volume, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [ ]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]} #creates a dictionary with list as values
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D') #determines the index (range of dates in this case)
df = pd.DataFrame(dict, index = data_index)#creates dataframe using dictionary an index
print(df)

ndict={'Name':['Ana','Juan','María'],'Age':[3,15,34], 'Hight':[0.80,1.56,1.63]}#creates a dictionary with list as values
nindex=[1,2,3]#determines the index
ndf = pd.DataFrame(ndict, index = nindex)#creates dataframe using dictionary an index
print(ndf)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49
    Name  Age  Hight
1    Ana    3   0.80
2   Juan   15   1.56
3  María   34   1.63

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [ ]:
df = aapl_table
print(df.Close.tail(5))#selects the last 5 values of the given column
print(df['Volume'].tail(5))


print(ndf.Age.tail(2))#selects the last 2 values of the given column
print(ndf['Name'].tail(2))

Date
2017-12-22    41.792458
2017-12-26    40.732178
2017-12-27    40.739346
2017-12-28    40.853970
2017-12-29    40.412186
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64
2    15
3    34
Name: Age, dtype: int64
2     Juan
3    María
Name: Name, dtype: object

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [ ]:
aapl_2016 = df['2016']#selects the values from the period given
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])#groups them by month and prints the value of the last day
print(aapl_month)

aapl_2019= df['2016']
aapl_day = aapl_2019.resample('2M').agg(lambda x: x[-2])
print(aapl_day)

                 Open       High        Low      Close     Volume  Dividends  \
Date
2016-01-31  21.792771  22.379030  21.691612  22.379030  257666000        0.0
2016-02-29  22.389512  22.706192  22.340970  22.350216  140865200        0.0
2016-03-31  25.362144  25.403752  25.167974  25.193401  103553600        0.0
2016-04-30  21.726098  21.894841  21.383993  21.668310  274126000        0.0
2016-05-31  23.163044  23.349094  22.981647  23.223511  169228800        0.0
2016-06-30  21.963034  22.272338  21.930475  22.232803  143345600        0.0
2016-07-31  24.230499  24.314221  24.111893  24.235149  110934800        0.0
2016-08-31  24.705476  24.918251  24.700798  24.808355  118649600        0.0
2016-09-30  26.295459  26.508237  26.141139  26.433414  145516400        0.0
2016-10-31  26.573707  26.709324  26.468487  26.547987  105677600        0.0
2016-11-30  26.228347  26.369359  25.915768  25.974524  144649200        0.0
2016-12-31  27.415201  27.544461  27.128475  27.220133  122345200        0.0

            Stock Splits
Date
2016-01-31             0
2016-02-29             0
2016-03-31             0
2016-04-30             0
2016-05-31             0
2016-06-30             0
2016-07-31             0
2016-08-31             0
2016-09-30             0
2016-10-31             0
2016-11-30             0
2016-12-31             0
                 Open       High        Low      Close     Volume  Dividends  \
Date
2016-01-31  21.562867  21.730697  21.240999  21.631838  222715200        0.0
2016-03-31  25.114812  25.523953  25.103254  25.325161  182404400        0.0
2016-05-31  23.125834  23.365371  23.081647  23.337463  145364800        0.0
2016-07-31  23.914217  24.290965  23.911891  24.265383  159479200        0.0
2016-09-30  26.459133  26.608778  26.141137  26.229988  143548000        0.0
2016-11-30  26.035632  26.329408  25.868767  26.195446  114115200        0.0
2017-01-31  27.368195  27.523309  27.356445  27.434002   60158000        0.0

            Stock Splits
Date
2016-01-31             0
2016-03-31             0
2016-05-31             0
2016-07-31             0
2016-09-30             0
2016-11-30             0
2017-01-31             0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """

We may select certain columns of a DataFrame using their names:

In [ ]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]#selection of columns of Dataframe
print(aapl_bar)

nndf=ndf[['Name','Age']]
print(nndf)

                 Open       High        Low      Close
Date
2016-01-31  21.792771  22.379030  21.691612  22.379030
2016-02-29  22.389512  22.706192  22.340970  22.350216
2016-03-31  25.362144  25.403752  25.167974  25.193401
2016-04-30  21.726098  21.894841  21.383993  21.668310
2016-05-31  23.163044  23.349094  22.981647  23.223511
2016-06-30  21.963034  22.272338  21.930475  22.232803
2016-07-31  24.230499  24.314221  24.111893  24.235149
2016-08-31  24.705476  24.918251  24.700798  24.808355
2016-09-30  26.295459  26.508237  26.141139  26.433414
2016-10-31  26.573707  26.709324  26.468487  26.547987
2016-11-30  26.228347  26.369359  25.915768  25.974524
2016-12-31  27.415201  27.544461  27.128475  27.220133
    Name  Age
1    Ana    3
2   Juan   15
3  María   34

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [ ]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])#selection of columns and rows of Dataframe

nndf=ndf.loc[2:3,['Name','Age']]
print(nndf)

                 Open       High        Low      Close
Date
2016-03-31  25.362144  25.403752  25.167974  25.193401
2016-04-30  21.726098  21.894841  21.383993  21.668310
2016-05-31  23.163044  23.349094  22.981647  23.223511
2016-06-30  21.963034  22.272338  21.930475  22.232803
    Name  Age
2   Juan   15
3  María   34

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [ ]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]#selects the values where the statement is true
print(above)

below = aapl_bar[aapl_bar.Low <= np.mean(aapl_bar.Low)]
print(below)

                 Open       High        Low      Close
Date
2016-03-31  25.362144  25.403752  25.167974  25.193401
2016-08-31  24.705476  24.918251  24.700798  24.808355
2016-09-30  26.295459  26.508237  26.141139  26.433414
2016-10-31  26.573707  26.709324  26.468487  26.547987
2016-11-30  26.228347  26.369359  25.915768  25.974524
2016-12-31  27.415201  27.544461  27.128475  27.220133
                 Open       High        Low      Close
Date
2016-01-31  21.792771  22.379030  21.691612  22.379030
2016-02-29  22.389512  22.706192  22.340970  22.350216
2016-04-30  21.726098  21.894841  21.383993  21.668310
2016-05-31  23.163044  23.349094  22.981647  23.223511
2016-06-30  21.963034  22.272338  21.930475  22.232803
2016-07-31  24.230499  24.314221  24.111893  24.235149

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [ ]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()#adds column with specified value
print(aapl_bar)
aapl_bar['diff'] = aapl_bar.Low.diff()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.792771  22.379030  21.691612  22.379030          NaN
2016-02-29  22.389512  22.706192  22.340970  22.350216    -0.001288
2016-03-31  25.362144  25.403752  25.167974  25.193401     0.127211
2016-04-30  21.726098  21.894841  21.383993  21.668310    -0.139921
2016-05-31  23.163044  23.349094  22.981647  23.223511     0.071773
2016-06-30  21.963034  22.272338  21.930475  22.232803    -0.042660
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063
2016-08-31  24.705476  24.918251  24.700798  24.808355     0.023652
2016-09-30  26.295459  26.508237  26.141139  26.433414     0.065505
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334
2016-11-30  26.228347  26.369359  25.915768  25.974524    -0.021601
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955
                 Open       High        Low      Close  rate_return      diff
Date
2016-01-31  21.792771  22.379030  21.691612  22.379030          NaN       NaN
2016-02-29  22.389512  22.706192  22.340970  22.350216    -0.001288  0.649357
2016-03-31  25.362144  25.403752  25.167974  25.193401     0.127211  2.827005
2016-04-30  21.726098  21.894841  21.383993  21.668310    -0.139921 -3.783982
2016-05-31  23.163044  23.349094  22.981647  23.223511     0.071773  1.597655
2016-06-30  21.963034  22.272338  21.930475  22.232803    -0.042660 -1.051172
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063  2.181417
2016-08-31  24.705476  24.918251  24.700798  24.808355     0.023652  0.588906
2016-09-30  26.295459  26.508237  26.141139  26.433414     0.065505  1.440341
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334  0.327348
2016-11-30  26.228347  26.369359  25.915768  25.974524    -0.021601 -0.552719
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955  1.212706

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [ ]:
missing = aapl_bar.isnull()#checks which values are null 
print(missing)
print('---------------------------------------------')
print(missing.describe())#prints info about the table (in this case the missing table), like counts, and frequency

             Open   High    Low  Close  rate_return   diff
Date
2016-01-31  False  False  False  False         True   True
2016-02-29  False  False  False  False        False  False
2016-03-31  False  False  False  False        False  False
2016-04-30  False  False  False  False        False  False
2016-05-31  False  False  False  False        False  False
2016-06-30  False  False  False  False        False  False
2016-07-31  False  False  False  False        False  False
2016-08-31  False  False  False  False        False  False
2016-09-30  False  False  False  False        False  False
2016-10-31  False  False  False  False        False  False
2016-11-30  False  False  False  False        False  False
2016-12-31  False  False  False  False        False  False
---------------------------------------------
         Open   High    Low  Close rate_return   diff
count      12     12     12     12          12     12
unique      1      1      1      1           2      2
top     False  False  False  False       False  False
freq       12     12     12     12          11     11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [ ]:
print(missing[missing.rate_return == True])#returns the rows where there is a null value in the specific column

print(missing[missing.Low == True])

             Open   High    Low  Close  rate_return  diff
Date
2016-01-31  False  False  False  False         True  True
Empty DataFrame
Columns: [Open, High, Low, Close, rate_return, diff]
Index: []

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [ ]:
drop = aapl_bar.dropna()
print(drop)#deletes the rows with NaN
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)#Changes the  NaN values for o
print(fill)

print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna('zero')#Changes the  NaN values for zero
print(fill)

                 Open       High        Low      Close  rate_return      diff
Date
2016-02-29  22.389512  22.706192  22.340970  22.350216    -0.001288  0.649357
2016-03-31  25.362144  25.403752  25.167974  25.193401     0.127211  2.827005
2016-04-30  21.726098  21.894841  21.383993  21.668310    -0.139921 -3.783982
2016-05-31  23.163044  23.349094  22.981647  23.223511     0.071773  1.597655
2016-06-30  21.963034  22.272338  21.930475  22.232803    -0.042660 -1.051172
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063  2.181417
2016-08-31  24.705476  24.918251  24.700798  24.808355     0.023652  0.588906
2016-09-30  26.295459  26.508237  26.141139  26.433414     0.065505  1.440341
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334  0.327348
2016-11-30  26.228347  26.369359  25.915768  25.974524    -0.021601 -0.552719
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955  1.212706

--------------------------------------------------

                 Open       High        Low      Close  rate_return      diff
Date
2016-01-31  21.792771  22.379030  21.691612  22.379030     0.000000  0.000000
2016-02-29  22.389512  22.706192  22.340970  22.350216    -0.001288  0.649357
2016-03-31  25.362144  25.403752  25.167974  25.193401     0.127211  2.827005
2016-04-30  21.726098  21.894841  21.383993  21.668310    -0.139921 -3.783982
2016-05-31  23.163044  23.349094  22.981647  23.223511     0.071773  1.597655
2016-06-30  21.963034  22.272338  21.930475  22.232803    -0.042660 -1.051172
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063  2.181417
2016-08-31  24.705476  24.918251  24.700798  24.808355     0.023652  0.588906
2016-09-30  26.295459  26.508237  26.141139  26.433414     0.065505  1.440341
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334  0.327348
2016-11-30  26.228347  26.369359  25.915768  25.974524    -0.021601 -0.552719
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955  1.212706

--------------------------------------------------

                 Open       High        Low      Close rate_return      diff
Date
2016-01-31  21.792771  22.379030  21.691612  22.379030        zero      zero
2016-02-29  22.389512  22.706192  22.340970  22.350216   -0.001288  0.649357
2016-03-31  25.362144  25.403752  25.167974  25.193401    0.127211  2.827005
2016-04-30  21.726098  21.894841  21.383993  21.668310   -0.139921 -3.783982
2016-05-31  23.163044  23.349094  22.981647  23.223511    0.071773  1.597655
2016-06-30  21.963034  22.272338  21.930475  22.232803    -0.04266 -1.051172
2016-07-31  24.230499  24.314221  24.111893  24.235149    0.090063  2.181417
2016-08-31  24.705476  24.918251  24.700798  24.808355    0.023652  0.588906
2016-09-30  26.295459  26.508237  26.141139  26.433414    0.065505  1.440341
2016-10-31  26.573707  26.709324  26.468487  26.547987    0.004334  0.327348
2016-11-30  26.228347  26.369359  25.915768  25.974524   -0.021601 -0.552719
2016-12-31  27.415201  27.544461  27.128475  27.220133    0.047955  1.212706

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [ ]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)#concats the 2 individual data frames y 1 data frame
print(data_frame)

s3=pd.Series([1,2,3,4,5], name='ejemplo')
data_frame = pd.concat([data_frame,s3], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99
     AAPL    GOOG  ejemplo
0  143.50  898.70        1
1  144.09  911.71        2
2  142.73  906.69        3
3  144.18  918.59        4
4  143.77  926.99        5

The "axis = 1" parameter will join two DataFrames by columns:

In [ ]:
log_price = np.log(aapl_bar.Close)#includes the log of the values in Close
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)


dif_price = aapl_bar.Close-aapl_bar.Open#includes the difference between Close and Open
dif_price.name = 'dif_price'
print(dif_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([concat, dif_price], axis = 1)
print(concat)

Date
2016-01-31    3.108124
2016-02-29    3.106836
2016-03-31    3.226582
2016-04-30    3.075851
2016-05-31    3.145165
2016-06-30    3.101569
2016-07-31    3.187804
2016-08-31    3.211181
2016-09-30    3.274629
2016-10-31    3.278954
2016-11-30    3.257116
2016-12-31    3.303957
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return      diff  \
Date
2016-01-31  21.792771  22.379030  21.691612  22.379030          NaN       NaN
2016-02-29  22.389512  22.706192  22.340970  22.350216    -0.001288  0.649357
2016-03-31  25.362144  25.403752  25.167974  25.193401     0.127211  2.827005
2016-04-30  21.726098  21.894841  21.383993  21.668310    -0.139921 -3.783982
2016-05-31  23.163044  23.349094  22.981647  23.223511     0.071773  1.597655
2016-06-30  21.963034  22.272338  21.930475  22.232803    -0.042660 -1.051172
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063  2.181417
2016-08-31  24.705476  24.918251  24.700798  24.808355     0.023652  0.588906
2016-09-30  26.295459  26.508237  26.141139  26.433414     0.065505  1.440341
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334  0.327348
2016-11-30  26.228347  26.369359  25.915768  25.974524    -0.021601 -0.552719
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955  1.212706

            log_price
Date
2016-01-31   3.108124
2016-02-29   3.106836
2016-03-31   3.226582
2016-04-30   3.075851
2016-05-31   3.145165
2016-06-30   3.101569
2016-07-31   3.187804
2016-08-31   3.211181
2016-09-30   3.274629
2016-10-31   3.278954
2016-11-30   3.257116
2016-12-31   3.303957
Date
2016-01-31    0.586259
2016-02-29   -0.039296
2016-03-31   -0.168743
2016-04-30   -0.057788
2016-05-31    0.060466
2016-06-30    0.269769
2016-07-31    0.004650
2016-08-31    0.102880
2016-09-30    0.137955
2016-10-31   -0.025720
2016-11-30   -0.253823
2016-12-31   -0.195068
Freq: M, Name: dif_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return      diff  \
Date
2016-01-31  21.792771  22.379030  21.691612  22.379030          NaN       NaN
2016-02-29  22.389512  22.706192  22.340970  22.350216    -0.001288  0.649357
2016-03-31  25.362144  25.403752  25.167974  25.193401     0.127211  2.827005
2016-04-30  21.726098  21.894841  21.383993  21.668310    -0.139921 -3.783982
2016-05-31  23.163044  23.349094  22.981647  23.223511     0.071773  1.597655
2016-06-30  21.963034  22.272338  21.930475  22.232803    -0.042660 -1.051172
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063  2.181417
2016-08-31  24.705476  24.918251  24.700798  24.808355     0.023652  0.588906
2016-09-30  26.295459  26.508237  26.141139  26.433414     0.065505  1.440341
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334  0.327348
2016-11-30  26.228347  26.369359  25.915768  25.974524    -0.021601 -0.552719
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955  1.212706

            log_price  dif_price
Date
2016-01-31   3.108124   0.586259
2016-02-29   3.106836  -0.039296
2016-03-31   3.226582  -0.168743
2016-04-30   3.075851  -0.057788
2016-05-31   3.145165   0.060466
2016-06-30   3.101569   0.269769
2016-07-31   3.187804   0.004650
2016-08-31   3.211181   0.102880
2016-09-30   3.274629   0.137955
2016-10-31   3.278954  -0.025720
2016-11-30   3.257116  -0.253823
2016-12-31   3.303957  -0.195068

We can also join two DataFrames by rows. Consider these two DataFrames:

In [ ]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])#creation of df
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.573707  26.709324  26.468487  26.547987
2016-11-30  26.228347  26.369359  25.915768  25.974524
2016-12-31  27.415201  27.544461  27.128475  27.220133
2017-01-31  28.472797  28.529201  28.348236  28.519800
2017-02-28  32.356356  32.441331  32.266660  32.335114
2017-03-31  33.923662  34.053485  33.756072  33.909500
2017-04-30  34.010997  34.060567  33.817446  33.907139

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [ ]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)#concat of more columns
print(concat)

concat2 = pd.concat([aapl_bar, df_2017], axis = 1)
print(concat2)

                 Open       High        Low      Close  rate_return      diff  \
Date
2016-01-31  21.792771  22.379030  21.691612  22.379030          NaN       NaN
2016-02-29  22.389512  22.706192  22.340970  22.350216    -0.001288  0.649357
2016-03-31  25.362144  25.403752  25.167974  25.193401     0.127211  2.827005
2016-04-30  21.726098  21.894841  21.383993  21.668310    -0.139921 -3.783982
2016-05-31  23.163044  23.349094  22.981647  23.223511     0.071773  1.597655
2016-06-30  21.963034  22.272338  21.930475  22.232803    -0.042660 -1.051172
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063  2.181417
2016-08-31  24.705476  24.918251  24.700798  24.808355     0.023652  0.588906
2016-09-30  26.295459  26.508237  26.141139  26.433414     0.065505  1.440341
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334  0.327348
2016-11-30  26.228347  26.369359  25.915768  25.974524    -0.021601 -0.552719
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955  1.212706
2017-01-31        NaN        NaN        NaN        NaN          NaN       NaN
2017-02-28        NaN        NaN        NaN        NaN          NaN       NaN
2017-03-31        NaN        NaN        NaN        NaN          NaN       NaN
2017-04-30        NaN        NaN        NaN        NaN          NaN       NaN

                 Volume  Stock Splits
Date
2016-01-31          NaN           NaN
2016-02-29          NaN           NaN
2016-03-31          NaN           NaN
2016-04-30          NaN           NaN
2016-05-31          NaN           NaN
2016-06-30          NaN           NaN
2016-07-31          NaN           NaN
2016-08-31          NaN           NaN
2016-09-30          NaN           NaN
2016-10-31  105677600.0           0.0
2016-11-30  144649200.0           0.0
2016-12-31  122345200.0           0.0
2017-01-31  196804000.0           0.0
2017-02-28   93931600.0           0.0
2017-03-31   78646800.0           0.0
2017-04-30   83441600.0           0.0
                 Open       High        Low      Close  rate_return      diff  \
Date
2016-01-31  21.792771  22.379030  21.691612  22.379030          NaN       NaN
2016-02-29  22.389512  22.706192  22.340970  22.350216    -0.001288  0.649357
2016-03-31  25.362144  25.403752  25.167974  25.193401     0.127211  2.827005
2016-04-30  21.726098  21.894841  21.383993  21.668310    -0.139921 -3.783982
2016-05-31  23.163044  23.349094  22.981647  23.223511     0.071773  1.597655
2016-06-30  21.963034  22.272338  21.930475  22.232803    -0.042660 -1.051172
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063  2.181417
2016-08-31  24.705476  24.918251  24.700798  24.808355     0.023652  0.588906
2016-09-30  26.295459  26.508237  26.141139  26.433414     0.065505  1.440341
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334  0.327348
2016-11-30  26.228347  26.369359  25.915768  25.974524    -0.021601 -0.552719
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955  1.212706
2017-01-31        NaN        NaN        NaN        NaN          NaN       NaN
2017-02-28        NaN        NaN        NaN        NaN          NaN       NaN
2017-03-31        NaN        NaN        NaN        NaN          NaN       NaN
2017-04-30        NaN        NaN        NaN        NaN          NaN       NaN

                 Open       High        Low      Close
Date
2016-01-31        NaN        NaN        NaN        NaN
2016-02-29        NaN        NaN        NaN        NaN
2016-03-31        NaN        NaN        NaN        NaN
2016-04-30        NaN        NaN        NaN        NaN
2016-05-31        NaN        NaN        NaN        NaN
2016-06-30        NaN        NaN        NaN        NaN
2016-07-31        NaN        NaN        NaN        NaN
2016-08-31        NaN        NaN        NaN        NaN
2016-09-30        NaN        NaN        NaN        NaN
2016-10-31  26.573707  26.709324  26.468487  26.547987
2016-11-30  26.228347  26.369359  25.915768  25.974524
2016-12-31  27.415201  27.544461  27.128475  27.220133
2017-01-31  28.472797  28.529201  28.348236  28.519800
2017-02-28  32.356356  32.441331  32.266660  32.335114
2017-03-31  33.923662  34.053485  33.756072  33.909500
2017-04-30  34.010997  34.060567  33.817446  33.907139

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [ ]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')#only joins the rows that intersect
print(concat)
concat2 = pd.concat([aapl_bar, df_2017], axis = 1, join = 'inner')
print(concat2)

                 Open       High        Low      Close  rate_return      diff  \
Date
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334  0.327348
2016-11-30  26.228347  26.369359  25.915768  25.974524    -0.021601 -0.552719
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955  1.212706

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
                 Open       High        Low      Close  rate_return      diff  \
Date
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334  0.327348
2016-11-30  26.228347  26.369359  25.915768  25.974524    -0.021601 -0.552719
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955  1.212706

                 Open       High        Low      Close
Date
2016-10-31  26.573707  26.709324  26.468487  26.547987
2016-11-30  26.228347  26.369359  25.915768  25.974524
2016-12-31  27.415201  27.544461  27.128475  27.220133

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [ ]:
append = aapl_bar.append(df_2017)#adds the data as rows
print(append)

append2 = aapl_bar.append(df_volume)#adds the data as rows
print(append2)

                 Open       High        Low      Close  rate_return      diff
Date
2016-01-31  21.792771  22.379030  21.691612  22.379030          NaN       NaN
2016-02-29  22.389512  22.706192  22.340970  22.350216    -0.001288  0.649357
2016-03-31  25.362144  25.403752  25.167974  25.193401     0.127211  2.827005
2016-04-30  21.726098  21.894841  21.383993  21.668310    -0.139921 -3.783982
2016-05-31  23.163044  23.349094  22.981647  23.223511     0.071773  1.597655
2016-06-30  21.963034  22.272338  21.930475  22.232803    -0.042660 -1.051172
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063  2.181417
2016-08-31  24.705476  24.918251  24.700798  24.808355     0.023652  0.588906
2016-09-30  26.295459  26.508237  26.141139  26.433414     0.065505  1.440341
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334  0.327348
2016-11-30  26.228347  26.369359  25.915768  25.974524    -0.021601 -0.552719
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955  1.212706
2016-10-31  26.573707  26.709324  26.468487  26.547987          NaN       NaN
2016-11-30  26.228347  26.369359  25.915768  25.974524          NaN       NaN
2016-12-31  27.415201  27.544461  27.128475  27.220133          NaN       NaN
2017-01-31  28.472797  28.529201  28.348236  28.519800          NaN       NaN
2017-02-28  32.356356  32.441331  32.266660  32.335114          NaN       NaN
2017-03-31  33.923662  34.053485  33.756072  33.909500          NaN       NaN
2017-04-30  34.010997  34.060567  33.817446  33.907139          NaN       NaN
                 Open       High        Low      Close  rate_return      diff  \
Date
2016-01-31  21.792771  22.379030  21.691612  22.379030          NaN       NaN
2016-02-29  22.389512  22.706192  22.340970  22.350216    -0.001288  0.649357
2016-03-31  25.362144  25.403752  25.167974  25.193401     0.127211  2.827005
2016-04-30  21.726098  21.894841  21.383993  21.668310    -0.139921 -3.783982
2016-05-31  23.163044  23.349094  22.981647  23.223511     0.071773  1.597655
2016-06-30  21.963034  22.272338  21.930475  22.232803    -0.042660 -1.051172
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063  2.181417
2016-08-31  24.705476  24.918251  24.700798  24.808355     0.023652  0.588906
2016-09-30  26.295459  26.508237  26.141139  26.433414     0.065505  1.440341
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334  0.327348
2016-11-30  26.228347  26.369359  25.915768  25.974524    -0.021601 -0.552719
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955  1.212706
2016-10-31        NaN        NaN        NaN        NaN          NaN       NaN
2016-11-30        NaN        NaN        NaN        NaN          NaN       NaN
2016-12-31        NaN        NaN        NaN        NaN          NaN       NaN
2017-01-31        NaN        NaN        NaN        NaN          NaN       NaN
2017-02-28        NaN        NaN        NaN        NaN          NaN       NaN
2017-03-31        NaN        NaN        NaN        NaN          NaN       NaN
2017-04-30        NaN        NaN        NaN        NaN          NaN       NaN

                 Volume  Stock Splits
Date
2016-01-31          NaN           NaN
2016-02-29          NaN           NaN
2016-03-31          NaN           NaN
2016-04-30          NaN           NaN
2016-05-31          NaN           NaN
2016-06-30          NaN           NaN
2016-07-31          NaN           NaN
2016-08-31          NaN           NaN
2016-09-30          NaN           NaN
2016-10-31          NaN           NaN
2016-11-30          NaN           NaN
2016-12-31          NaN           NaN
2016-10-31  105677600.0           0.0
2016-11-30  144649200.0           0.0
2016-12-31  122345200.0           0.0
2017-01-31  196804000.0           0.0
2017-02-28   93931600.0           0.0
2017-03-31   78646800.0           0.0
2017-04-30   83441600.0           0.0

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [ ]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)#concats the data as rows
print(concat)

concat2 = pd.concat([aapl_bar, df_volume], axis = 0)#concats the data as rows
print(concat2)

                 Open       High        Low      Close  rate_return      diff
Date
2016-01-31  21.792771  22.379030  21.691612  22.379030          NaN       NaN
2016-02-29  22.389512  22.706192  22.340970  22.350216    -0.001288  0.649357
2016-03-31  25.362144  25.403752  25.167974  25.193401     0.127211  2.827005
2016-04-30  21.726098  21.894841  21.383993  21.668310    -0.139921 -3.783982
2016-05-31  23.163044  23.349094  22.981647  23.223511     0.071773  1.597655
2016-06-30  21.963034  22.272338  21.930475  22.232803    -0.042660 -1.051172
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063  2.181417
2016-08-31  24.705476  24.918251  24.700798  24.808355     0.023652  0.588906
2016-09-30  26.295459  26.508237  26.141139  26.433414     0.065505  1.440341
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334  0.327348
2016-11-30  26.228347  26.369359  25.915768  25.974524    -0.021601 -0.552719
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955  1.212706
2016-10-31  26.573707  26.709324  26.468487  26.547987          NaN       NaN
2016-11-30  26.228347  26.369359  25.915768  25.974524          NaN       NaN
2016-12-31  27.415201  27.544461  27.128475  27.220133          NaN       NaN
2017-01-31  28.472797  28.529201  28.348236  28.519800          NaN       NaN
2017-02-28  32.356356  32.441331  32.266660  32.335114          NaN       NaN
2017-03-31  33.923662  34.053485  33.756072  33.909500          NaN       NaN
2017-04-30  34.010997  34.060567  33.817446  33.907139          NaN       NaN
                 Open       High        Low      Close  rate_return      diff  \
Date
2016-01-31  21.792771  22.379030  21.691612  22.379030          NaN       NaN
2016-02-29  22.389512  22.706192  22.340970  22.350216    -0.001288  0.649357
2016-03-31  25.362144  25.403752  25.167974  25.193401     0.127211  2.827005
2016-04-30  21.726098  21.894841  21.383993  21.668310    -0.139921 -3.783982
2016-05-31  23.163044  23.349094  22.981647  23.223511     0.071773  1.597655
2016-06-30  21.963034  22.272338  21.930475  22.232803    -0.042660 -1.051172
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063  2.181417
2016-08-31  24.705476  24.918251  24.700798  24.808355     0.023652  0.588906
2016-09-30  26.295459  26.508237  26.141139  26.433414     0.065505  1.440341
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334  0.327348
2016-11-30  26.228347  26.369359  25.915768  25.974524    -0.021601 -0.552719
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955  1.212706
2016-10-31        NaN        NaN        NaN        NaN          NaN       NaN
2016-11-30        NaN        NaN        NaN        NaN          NaN       NaN
2016-12-31        NaN        NaN        NaN        NaN          NaN       NaN
2017-01-31        NaN        NaN        NaN        NaN          NaN       NaN
2017-02-28        NaN        NaN        NaN        NaN          NaN       NaN
2017-03-31        NaN        NaN        NaN        NaN          NaN       NaN
2017-04-30        NaN        NaN        NaN        NaN          NaN       NaN

                 Volume  Stock Splits
Date
2016-01-31          NaN           NaN
2016-02-29          NaN           NaN
2016-03-31          NaN           NaN
2016-04-30          NaN           NaN
2016-05-31          NaN           NaN
2016-06-30          NaN           NaN
2016-07-31          NaN           NaN
2016-08-31          NaN           NaN
2016-09-30          NaN           NaN
2016-10-31          NaN           NaN
2016-11-30          NaN           NaN
2016-12-31          NaN           NaN
2016-10-31  105677600.0           0.0
2016-11-30  144649200.0           0.0
2016-12-31  122345200.0           0.0
2017-01-31  196804000.0           0.0
2017-02-28   93931600.0           0.0
2017-03-31   78646800.0           0.0
2017-04-30   83441600.0           0.0

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [ ]:
df_2017.columns = ['Change', 'High','Low','Close']#the columns with the same name merge, and the different ones are added
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

df_2017.columns = ['Changes', 'High','Low','Closes']#the columns with the same name merge, and the different ones are added
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return      diff  \
Date
2016-01-31  21.792771  22.379030  21.691612  22.379030          NaN       NaN
2016-02-29  22.389512  22.706192  22.340970  22.350216    -0.001288  0.649357
2016-03-31  25.362144  25.403752  25.167974  25.193401     0.127211  2.827005
2016-04-30  21.726098  21.894841  21.383993  21.668310    -0.139921 -3.783982
2016-05-31  23.163044  23.349094  22.981647  23.223511     0.071773  1.597655
2016-06-30  21.963034  22.272338  21.930475  22.232803    -0.042660 -1.051172
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063  2.181417
2016-08-31  24.705476  24.918251  24.700798  24.808355     0.023652  0.588906
2016-09-30  26.295459  26.508237  26.141139  26.433414     0.065505  1.440341
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334  0.327348
2016-11-30  26.228347  26.369359  25.915768  25.974524    -0.021601 -0.552719
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955  1.212706
2016-10-31        NaN  26.709324  26.468487  26.547987          NaN       NaN
2016-11-30        NaN  26.369359  25.915768  25.974524          NaN       NaN
2016-12-31        NaN  27.544461  27.128475  27.220133          NaN       NaN
2017-01-31        NaN  28.529201  28.348236  28.519800          NaN       NaN
2017-02-28        NaN  32.441331  32.266660  32.335114          NaN       NaN
2017-03-31        NaN  34.053485  33.756072  33.909500          NaN       NaN
2017-04-30        NaN  34.060567  33.817446  33.907139          NaN       NaN

               Change
Date
2016-01-31        NaN
2016-02-29        NaN
2016-03-31        NaN
2016-04-30        NaN
2016-05-31        NaN
2016-06-30        NaN
2016-07-31        NaN
2016-08-31        NaN
2016-09-30        NaN
2016-10-31        NaN
2016-11-30        NaN
2016-12-31        NaN
2016-10-31  26.573707
2016-11-30  26.228347
2016-12-31  27.415201
2017-01-31  28.472797
2017-02-28  32.356356
2017-03-31  33.923662
2017-04-30  34.010997
                 Open       High        Low      Close  rate_return      diff  \
Date
2016-01-31  21.792771  22.379030  21.691612  22.379030          NaN       NaN
2016-02-29  22.389512  22.706192  22.340970  22.350216    -0.001288  0.649357
2016-03-31  25.362144  25.403752  25.167974  25.193401     0.127211  2.827005
2016-04-30  21.726098  21.894841  21.383993  21.668310    -0.139921 -3.783982
2016-05-31  23.163044  23.349094  22.981647  23.223511     0.071773  1.597655
2016-06-30  21.963034  22.272338  21.930475  22.232803    -0.042660 -1.051172
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063  2.181417
2016-08-31  24.705476  24.918251  24.700798  24.808355     0.023652  0.588906
2016-09-30  26.295459  26.508237  26.141139  26.433414     0.065505  1.440341
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334  0.327348
2016-11-30  26.228347  26.369359  25.915768  25.974524    -0.021601 -0.552719
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955  1.212706
2016-10-31        NaN  26.709324  26.468487        NaN          NaN       NaN
2016-11-30        NaN  26.369359  25.915768        NaN          NaN       NaN
2016-12-31        NaN  27.544461  27.128475        NaN          NaN       NaN
2017-01-31        NaN  28.529201  28.348236        NaN          NaN       NaN
2017-02-28        NaN  32.441331  32.266660        NaN          NaN       NaN
2017-03-31        NaN  34.053485  33.756072        NaN          NaN       NaN
2017-04-30        NaN  34.060567  33.817446        NaN          NaN       NaN

              Changes     Closes
Date
2016-01-31        NaN        NaN
2016-02-29        NaN        NaN
2016-03-31        NaN        NaN
2016-04-30        NaN        NaN
2016-05-31        NaN        NaN
2016-06-30        NaN        NaN
2016-07-31        NaN        NaN
2016-08-31        NaN        NaN
2016-09-30        NaN        NaN
2016-10-31        NaN        NaN
2016-11-30        NaN        NaN
2016-12-31        NaN        NaN
2016-10-31  26.573707  26.547987
2016-11-30  26.228347  25.974524
2016-12-31  27.415201  27.220133
2017-01-31  28.472797  28.519800
2017-02-28  32.356356  32.335114
2017-03-31  33.923662  33.909500
2017-04-30  34.010997  33.907139

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.